<h1 class="mb-10">NIOS Dashboard</h1>

<div class="row">
  <div class="col">
    <div class="card customCard">
      <div class="card-body">
        <h2 class="card-title">{{ totalStudent }}</h2>
        <span class="card-subtitle mb-2 text-muted small text-uppercase">
          Total Student
        </span>
        <hr />
        <small class="text-muted">Number of student registered</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card customCard">
      <div class="card-body">
        <h2 class="card-title">{{ activeStudent }}</h2>
        <span class="card-subtitle mb-2 text-muted small text-uppercase">
          Active Student
        </span>
        <hr />
        <small class="text-muted">Students currently studying</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card customCard">
      <div class="card-body">
        <h2 class="card-title">{{ leftStudent }}</h2>
        <span class="card-subtitle mb-2 text-muted small text-uppercase">
          Left Student
        </span>
        <hr />
        <small class="text-muted"
          >Students either completed schooling or left</small
        >
      </div>
    </div>
  </div>
</div>
