<div class="container-fluid">
  <div class="row">
    <div class="col"><h4 class="lh-56">Students</h4></div>
    <div class="col align-r">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="filter($event.target.value)" />
      </mat-form-field>
      &nbsp;
      <button
        mat-raised-button
        color="primary"
        (click)="openDialog('create')"
        matTooltip="New Admission"
      >
        <mat-icon>add_rounded</mat-icon>&nbsp;New Admission
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="full-width">
          <!-- selection Column -->
          <!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container> -->

          <!-- Type Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Student username
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.username }}
            </td>
            <td mat-footer-cell *matFooterCellDef>No Record Found</td>
          </ng-container>

          <ng-container matColumnDef="session">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Session</th>
            <td mat-cell *matCellDef="let element">
              {{ element.sessionMonth }} - {{ element.sessionYear }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Student Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.studentName }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="father">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Father's Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.fatherName }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
            <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="std">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Class</th>
            <td mat-cell *matCellDef="let element">
              {{ std.doGet(element.std)?.class_name }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="feeStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Fee Status
            </th>
            <td mat-cell *matCellDef="let element">
              {{ checkFeeStatus(element) }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-footer-cell *matFooterCellDef></td>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                (click)="openDialog('view', element)"
                matTooltip="View {{ element.studentName }}"
              >
                <mat-icon>visibility_rounded</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="openDialog('paydue', element)"
                *ngIf="
                  !(
                    element.feePaid[0] &&
                    element.feePaid[0].total_fee_deposit >= element.courseFee
                  )
                "
                matTooltip="Pay Due of {{ element.studentName }}"
              >
                <mat-icon>payment_rounded</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="openDialog('paySubjectFee', element)"
                
                matTooltip="subject fee of {{ element.studentName }}"
              >
                <mat-icon>payment_rounded</mat-icon>
              </button>
              <button
                mat-icon-button
                *ngIf="
                  !(
                    element.feePaid[0] &&
                    element.feePaid[0].total_fee_deposit >= element.courseFee
                  )
                "
                (click)="openDialog('ledger', element)"
                matTooltip="View Ledger report of {{ element.studentName }}"
              >
                <mat-icon>insights_rounded</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="openDialog('result', element)"
                matTooltip="Result {{ element.studentName }}"
              >
                <mat-icon>article_rounded</mat-icon>
              </button>
              <button
                mat-icon-button
                color="accent"
                (click)="openDialog('edit', element)"
                matTooltip="Edit {{ element.studentName }}"
              >
                <mat-icon>edit_rounded</mat-icon>
              </button>
              <button
                (click)="openDialog('delete', element)"
                mat-icon-button
                color="warn"
                matTooltip="Delete {{ element.studentName }}"
              >
                <mat-icon>delete_rounded</mat-icon>
              </button>
              <button
                (click)="openDialog('leave', element)"
                mat-icon-button
                matTooltip="Leave {{ element.studentName }}"
              >
                <mat-icon>logout_rounded</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr
            mat-footer-row
            *matFooterRowDef="displayedColumns"
            [hidden]="dataSource && dataSource.data.length > 0"
          ></tr>
        </table>

        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
