.header-view {
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.bg-lg {
  background: linear-gradient(320deg, #c769ce, #3f51b5);
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgb(0 0 0 / 50%);
}

.header-view .name {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.header-view .image {
  height: 215px;
  width: 200px;
  border: 2px solid #3f51b5;
  border-radius: 4px;
}

.header-view h3 {
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
}

.col {
  overflow-x: hidden !important;
}
